<form #Form="ngForm" class="container mt-3">
  <h1>เพิ่ม ประเภท รายรับ-รายจ่าย</h1>
  <div>
    <mat-label>เลือก</mat-label>
    <mat-form-field appearance="outline">
      <mat-select [(value)]="type" name="typename" required="" >
        <mat-option *ngFor="let i of data" [value]="i.id">{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-lable>รายรับ</mat-lable>
    <mat-icon type="button" color="#ffeb3b" class="material-icons">add_box</mat-icon><br>
    <mat-lable>ประเภท</mat-lable>
    <mat-form-field appearance="outline">
        <input matInput>
    </mat-form-field>
    <button>บันทึก</button>
  </div>
  <div>
    <mat-lable>รายจ่าย</mat-lable>
    <mat-icon type="button" color="#ffeb3b" class="material-icons">add_box</mat-icon><br>
    <mat-lable>ประเภท</mat-lable>
    <mat-form-field appearance="outline">
        <input matInput>
    </mat-form-field>
    <button>บันทึก</button>
  </div>
</form>
