<form #Form="ngForm" class="container mt-3">
  <div>
    <mat-lable>รายรับ</mat-lable>
    <mat-icon type="button" color="#ffeb3b" class="material-icons">add_box</mat-icon><br>
    <mat-lable>ประเภท</mat-lable>
    <mat-form-field appearance="outline">
        <input matInput>
    </mat-form-field>
    <button>บันทึก</button>
  </div>
  <div>
    <mat-lable>รายจ่าย</mat-lable>
    <mat-icon type="button" color="#ffeb3b" class="material-icons">add_box</mat-icon><br>
    <mat-lable>ประเภท</mat-lable>
    <mat-form-field appearance="outline">
        <input matInput>
    </mat-form-field>
    <button>บันทึก</button>
  </div>
</form>
