<form [formGroup]="cateForm" class="container mt-3" (ngSubmit)="save()">
  <div formArrayName="cateList">
    <h3>รายรับ รายจ่าย</h3>

    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="toogle()">
        <mat-option *ngFor="let i of data" [value]="i.id">{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>

      <div *ngFor="let L of List.controls; let i=index">
        รายการที่ {{i+1}}
        <div class="form-container" *ngIf="showhide">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker2" [formControl]="serializedDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="flex-50">
            <mat-select formControlName="typeitem" placeholder='ประเภท'>
              <mat-option *ngFor="let i of dataType" [value]="i.idmsin ">{{i.namemsin}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="flex-50">
            <input matInput formControlName="listname" placeholder='รายการ'>
          </mat-form-field>

          <mat-form-field appearance="outline" class="flex-50">
            <input matInput formControlName="price" placeholder='ราคา'>
          </mat-form-field>

          <mat-icon type="button" color="warn" class="material-icons" (click)="remove(i)">delete</mat-icon>

        </div>
      </div>
    </div>
  </div>
  <button color="#ffeb3b" class="material-icons btn" (click)="add()">เพิ่มรายการ add_box</button>
  <div>
    <button class="btn btn-primary mb-2" type="submit">บันทึก</button>
  </div>

</form>
