<nav class="navbar navbar-expand-md navbar-light fixed-top " style="background-color: #fdd835;">
    <a class="navbar-brand" href="/">เก็บเงิน</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkactive="active" >หน้าแรก<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/add" routerLinkactive="active" >รายรับรายจ่าย<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/addtype" routerLinkactive="active">ประเภท<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/view" routerLinkactive="active"><span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
    </div>
  </nav>